body {
    background-color: #c9c9c9;
}

.rubrik {
    color: #020264;
    text-align: center;
    padding: 20px;
    margin-top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #020264;
}

main {
    padding: 20px;
    text-align: center;
}

main h2 {
    color: #020264;
    font-size: 2em;
    margin-bottom: 10px;
}

main p {
    color: #020264;
    font-size: 1.2em;
    margin-bottom: 20px;
}

main a {
    background-color: #020264;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

footer {
    background-color: #020264;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}